<div class="container">
  <div class="header">
    <div class="topBar"> Date bar</div>
    <div class="flexHeader">
    <div class="emblem"><img src="../assets/emblem.jpg" height="160px" width="140px"></div>
    <div class="primaryHeading">NATIONAL DATA REPOSITORY</div>
    <div class="ndrLogo"><img src="../assets/NDR.jpg" height="160px" width="140px"></div>
    </div> 
  </div>

  <div class="secondDiv">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-left: 20px;">
      <a class="navbar-brand" href="#">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li ngbDropdown class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" ngbDropdownToggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Download
            </a>
            <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" ngbDropdownItem href="#">Download data price list and policies</a>
              
            </div>
          </li>
          <li ngbDropdown class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" ngbDropdownToggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Important Links
            </a>
            <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" ngbDropdownItem href="#">Action</a>
              <a class="dropdown-item" ngbDropdownItem href="#">Another action</a>
              <a class="dropdown-item" ngbDropdownItem href="#">Something else here</a>
            </div>
          </li>
          <li   ngbDropdown class="nav-item dropdown" (mouseenter)="$event.stopPropagation(); myDrop.toggle();">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" ngbDropdownToggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Login
            </a>
            <div #myDrop class="dropdown-menu" ngbDropdownMenu aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" ngbDropdownItem href="#">Login</a>
              <a class="dropdown-item" ngbDropdownItem href="#">Forgot/Reset Password</a>
             
            </div>
          </li>
          <li ngbDropdown class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" ngbDropdownToggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Help
            </a>
            <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" ngbDropdownItem href="#">How to Register</a>
              
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Register</a>
          </li>
          
          <form class="form-inline ms-auto" style="display: flex; margin-left: 50px !important">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>

          <li class="nav-item ms-auto">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

</div>